{% extends 'index.html' %} {% load static %} {% block content %}
<div class="container" >
  <div class="row">
    <div class="col-lg-12 bookclub" style="background-color: cornsilk">
      <h1 align="center" >ABOUT US</h1>
      <p class="para" style="font-size:20px;">
        Reading is the process of taking in the sense or meaning of letters,
        symbols, etc., especially by sight or touch. For educators and
        researchers, reading is a multifaceted process involving such areas as
        word recognition, orthography (spelling), alphabetics, phonics, phonemic
        awareness, vocabulary, comprehension, fluency, and motivation. People
        who read at least seven books a year are reported to be 2.3 times more
        intelligent than people who read only one. And the people who read the
        book are much more confident than non readers while expressing
        themselves in front of others. As we all know books can give us a new
        perspective to see the world and learn from it, and who knows it will
        give us a new way to live our life, discover things that even we didn’t
        know we were capable of, but this is possible only when one starts to
        read a book. Due to the pandemic the world has shifted towards
        technology, because of which in the age of making friends, exploring new
        places, meeting other people, people are getting so addicted to mobiles
        and computers that they are not even aware of what is happening out
        there in the world. Let’s assume that a person starts to read a book,
        but what is the guarantee he or she will not lose interest in the book,
        or due to some interruption they might lose the flow of reading the book
        and never be able to continue reading it. It is said that Rome was not
        built in a day. Similarly, interest in reading does not grow in one day;
        it takes time and constant reading of books. So with this project we are
        promoting reading and developing lifelong reading habits, and this book
        club provides you with books at low cost so that money does not become a
        barrier in gaining knowledge. With this, we want to bring people out of
        the virtual world to the real world.
      </p>
    </div>
    <div class="col-lg-4 user">
      <div class="card">
        <img src={% static 'images/profile/PP.jpeg' %} style="width: 100%" />
        <div class="container">
          <h4><b>Pratik Patil</b></h4>
          <p>Full Stack Developer</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 user">
      <div class="card">
        <img src={% static 'images/profile/SS.jpeg' %} style="width: 100% " />
        {% comment %} <img src={% static 'images/profile/RS.jpeg' %} style="width: 100%;"/> {% endcomment %}
        <div class="container">
          <h4><b>Saharsh Sodani</b></h4>
          <p>Full Stack Developer</p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 user">
      <div class="card">
        <img src={% static 'images/profile/RS.jpeg' %} style="width: 100%;"/>
        {% comment %} <img src={% static 'images/profile/SS.jpeg' %} style="width: 100% " /> {% endcomment %}
        <div class="container">
          <h4><b>Rahul Solanki</b></h4>
          <p>Full Stack Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
