{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="login" class="container-fluid">
    <div class="row justify-content-center text-center">
        <div class="col-lg-6" id="login_form">
            <h1 align="center" style="margin-bottom: 10px;">LOGIN</h1>
            <form method="POST">
                {% csrf_token %} {% comment %}
                <ul style="list-style-type:none; padding:0;">
                    <li style="margin-bottom: 10px;">Username: <input type="text" style="border: 0px;" name="uname"></li>
                    <li>Password:<input type="password" name="pwd" id="pass" style="border: 0px; margin-bottom:20px;"></li>
                </ul> {% endcomment %} {{form.as_p}}
                <input type="submit" value="Login">
            </form>
            <span style="font-weight: bold; font-size: large;">OR</span> <br>
            <a id="signup_login" href="users/register">Click to Sign Up</a>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}