{% extends 'index.html' %}
{% load static %}


{% block content %}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="register" method="POST" class="row g-3">
                    {% csrf_token %}
                    <h4 align='center'>SIGN UP</h4>
                    <div class="col-12">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="col-12">
                        <label>First Name:</label>
                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="col-12">
                        <label>Last Name:</label>
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="col-12">
                        <label>Email:</label>
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-12">
                        <label>Password</label>
                        <input type="password" name="password1" class="form-control" placeholder="Password">
                    </div>
                    <div class="col-12">
                        <label>Confirm Password</label>
                        <input type="password" name="password1" class="form-control" placeholder="Confirm Password">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Sign Up</button>
                    </div>
                    
            </div>
        </div>
    </div>
</div> -->

    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6" id="register_form">
                <h1 align="center">SIGN UP</h1>
                
                <form action="register" method="POST">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                </form>
            </div>
        </div>
    </div>

    <br>
{% endblock content %}

