.carousel-item > img {
  height: 650px;
}

#navbardata {
  margin-top: 2%;
  margin-left: 3px;
}
#user-name > h6 {
  margin-top: 8%;
  color: white !important;
}
/* Qouts */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornsilk;
}

#container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.para {
  font-size: 30px;
}
.containerp {
  padding: 64px;
}

.rowr:after {
  content: "";
  display: table;
  clear: both;
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px;
}

.imag {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  .imag {
    margin: auto;
  }
}
/* Qouts */

/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

.uls {
  font-size: 30px;
}
.ben {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  background-color: cornsilk;
  margin-bottom:0px;
}
/*footer {*/
/*  width: 100%;*/
/*  left: 0;*/
/*  bottom: 0;*/
/*}*/
/* aboutus pages */
img {
  border-radius: 5px 5px 0 0;
}
div.bookclub {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.user {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  margin-top: 5%;
  padding: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* 5px rounded corners */
}
@media only screen and (max-width: 600px) {
  .uls {
    font-size: 22px;
  }
}

